<table class="table table-striped">
  <tr>
    <td><strong>Corporate Name</strong></td>
    <td><%= @general_info.corporate_name %></td>
  </tr>

  <tr>
    <td><strong>Trade Name</strong></td>
    <td><%= @general_info.trade_name %></td>
  </tr>

  <tr>
    <td><strong>Nature of Business</strong></td>
    <td><%= @general_info.nature_of_business %></td>
  </tr>

  <tr>
    <td><strong>US Tax ID</strong></td>
    <td><%= @general_info.tax_id %></td>
  </tr>

  <tr>
    <td><strong>Country of Incorporation</strong></td>
    <td><%= @general_info.country_of_inc %></td>
  </tr>

  <tr>
    <td><strong>Province / State of Incorporation</strong></td>
    <td><%= @general_info.state_of_inc %></td>
  </tr>
</table>

<br/>

<table class="table table-striped">
  <tr>
    <td><strong>Office Phone / Landline Number</strong></td>
    <td><%= @general_info.landline_number %></td>
    <td><strong>Cell Number</strong></td>
    <td><%= @general_info.cell_number %></td>
  </tr>

   <tr>
    <td><strong>Email Address<br/>
        (Where Deal Confirmations will be sent)</strong></td>
    <td><%= @general_info.email %></td>
    <td><strong>Website</strong></td>
    <td><%= @general_info.website %></td>
  </tr>

  <tr>
    <td><strong>Street Address</strong></td>
    <td> <%= @general_info.street_address %></td>
    <td><strong>City / Town</strong></td>
    <td><%= @general_info.city %></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td><strong>Province / State</strong></td>
    <td><%= @general_info.state %></td>
    <td><strong>Postal / Zip Code</strong></td>
    <td><%= @general_info.zip_code %></td>
    <td><strong>Country</strong></td>
    <td><%= @general_info.country %></td>
  </tr>
</table>