<table class="table table-striped">
  <tr>
    <td><strong>Corporate name:</strong></td>
    <td><%= @general_info.corporate_name %></td>
  </tr>

  <tr>
    <td><strong>Trade name:</strong></td>
    <td><%= @general_info.trade_name %></td>
  </tr>

  <tr>
    <td><strong>Nature of business:</strong></td>
    <td><%= @general_info.nature_of_business %></td>
  </tr>

  <tr>
    <td><strong>US Tax ID:</strong></td>
    <td><%= @general_info.tax_id %></td>
  </tr>

  <tr>
    <td><strong>Country of Incorporation:</strong></td>
    <td><%= @general_info.country_of_inc %></td>
  </tr>

  <tr>
    <td><strong>State of Incorporation:</strong></td>
    <td><%= @general_info.state_of_inc %></td>
  </tr>
</table>

<br/>

<table class="table table-striped">
  <tr>
    <td><strong>Landline number:</strong></td>
    <td><%= @general_info.landline_number %></td>
    <td><strong>Cell number:</strong></td>
    <td><%= @general_info.cell_number %></td>
  </tr>

   <tr>
    <td><strong>Email:</strong></td>
    <td><%= @general_info.email %></td>
    <td><strong>Website:</strong></td>
    <td><%= @general_info.website %></td>
  </tr>

  <tr>
    <td><strong>Street address:</strong></td>
    <td> <%= @general_info.street_address %></td>
    <td><strong>City:</strong></td>
    <td><%= @general_info.city %></td>
  </tr>
</table>

<table class="table table-striped">
  <tr>
    <td><strong>State:</strong></td>
    <td><%= @general_info.state %></td>
    <td><strong>Zip code:</strong></td>
    <td><%= @general_info.zip_code %></td>
    <td><strong>Country:</strong></td>
    <td><%= @general_info.country %></td>
  </tr>
</table>