<p id="notice"><%= notice %></p>

<p>
  <strong>Corporate name:</strong>
  <%= @general_info.corporate_name %>
</p>

<p>
  <strong>Trade name:</strong>
  <%= @general_info.trade_name %>
</p>

<p>
  <strong>Country of inc:</strong>
  <%= @general_info.country_of_inc %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @general_info.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @general_info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @general_info.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @general_info.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @general_info.country %>
</p>

<p>
  <strong>Landline number:</strong>
  <%= @general_info.landline_number %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @general_info.cell_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @general_info.fax_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @general_info.email %>
</p>

<p>
  <strong>State of inc:</strong>
  <%= @general_info.state_of_inc %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @general_info.registration_number %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @general_info.tax_id %>
</p>

<p>
  <strong>Nature of business:</strong>
  <%= @general_info.nature_of_business %>
</p>

<p>
  <strong>Website:</strong>
  <%= @general_info.website %>
</p>

<p>
  <strong>Money services business:</strong>
  <%= @general_info.money_services_business %>
</p>

<p>
  <strong>Precious stones or metals:</strong>
  <%= @general_info.precious_stones_or_metals %>
</p>

<p>
  <strong>Travel or tour company:</strong>
  <%= @general_info.travel_or_tour_company %>
</p>

<p>
  <strong>Public company:</strong>
  <%= @general_info.public_company %>
</p>

<%= link_to 'Edit', edit_general_info_path(@general_info) %> |
<%= link_to 'Next', corporate_applications_personnel_path %>
