<%= form_for(@officer) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @officer } %>

  <div class="field">
    <%= f.label :full_legal_name %><br>
    <%= f.text_field :full_legal_name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
