<p id="notice"><%= notice %></p>

<p>
  <strong>Full legal name:</strong>
  <%= @officer.full_legal_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @officer.title %>
</p>

<p>
  <strong>Corporate personnel:</strong>
  <%= @officer.corporate_personnel %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
