<p id="notice"><%= notice %></p>

<p>
  <strong>Full legal name:</strong>
  <%= @officer.full_legal_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @officer.title %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Add new', new_officer_path %> |
<%= link_to 'Next', new_politically_exposed_person_path %>
