<div class="row">
  <h1>Register</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <p class="row">
          <p class="row">
            <%= f.label :first_name %> <br />
            <%= f.text_field :first_name, autofocus: true %>
          </p>
    
          <p class="row">
            <%= f.label :last_name %> <br />
            <%= f.text_field :last_name %>
          </p>

          <p class="row">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </p>
        
          <p class="row">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
        
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </p>
      
        <p class="row">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
        </p>
    <% end %>
  </div>
</div>