<div class="row">
  <span class="title">PeopleHedge Corporate Application</span>
  <span class="sub-title">Part I - General Information</span>
  <%= render 'general_infos/infos' %>
</div>

<div class="row">
  <span class="sub-title">Part II - Corporate Personnel</span>
    <%= render 'authorized_representatives_pdf' %>
    <%= render 'beneficial_owners_pdf' %>
    <%= render 'officers_pdf' %>
</div>

<div class="row">
  <span class="sub-title">Part III - Politically Exposed Persons Determination</span>
  <%= render 'politically_exposed_people/exposed_person_pdf' %>
</div>

<div class="row">
  <span class="sub-title">Part IV - Foreign Exchange and Payment Needs</span>
  <%= render 'fx_and_payments/fx_and_payments_needs' %>
</div>

<div class="page-break"></div>

<div class="row">
  <span class="sub-title">Part V - Banking</span>
  <%= render 'banking_pdf' %>
</div>

<div class="page-break"></div>

<div class="row">
  <span class="sub-title">Part VI - Authorizations and Certifications</span>
  <%= render 'authorizations_pdf' %>
</div>