<div class="row">
  <h3>Beneficial Owners</h3>
  <table>
    <thead>
      <th>Full legal name</th>
      <th>Citizenship</th>
      <th>Ownership percentage</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip Code</th>
    </thead>
    <tbody>
      <% @beneficial_owners.each do |bo| %>
        <tr>
          <td><%= bo.full_legal_name %></td>
          <td><%= bo.citizenship %></td>
          <td><%= bo.ownership_percentage %></td>
          <td><%= bo.street_address %></td>
          <td><%= bo.city %></td>
          <td><%= bo.state %></td>
          <td><%= bo.country %></td>
          <td><%= bo.zip_code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>