<h1>Corporate Personnel</h1>
<%= render 'authorized_representatives' %>
<%= render 'beneficial_owners' %>
<%= render 'officers' %>
<%= link_to "Back", general_info_path(current_user.general_info),
		    class: "button expand" %>
<%= link_to "Next", politically_exposed_people_path, class: "button expand" %>
