<div class="row">
	<h2 class="jumbotron">Part II - Corporate Personnel</h2>
</div>
<%= render 'authorized_representatives' %>
<%= render 'beneficial_owners' %>
<%= render 'officers' %>
<p class="row">
	<%= link_to "Back", general_info_path(current_user.general_info),
			    class: "btn btn-primary" %>
	<%= link_to "Next", politically_exposed_people_path, class: "btn btn-primary" %>
</p>