<div>
  <table>
    <thead>
        <th>Name</th>
        <th>Title</th>
        <th>Position held</th>
        <th>From</th>
        <th>To</th>
    </thead>
  
    <tbody>
      <% @politically_exposed_people.each do |person| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.title %></td>
          <td><%= person.position_held %></td>
          <td><%= person.from %></td>
          <td><%= person.to %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>