<p>
  Any Corporate Personnel (Part II), their family members or close associates, 
  a person who is or was entrusted with a prominent public function (i.e.government, military or judiciary).
</p>

<table class="table table-striped table-bordered">
  <thead>
      <th>Name</th>
      <th>Title</th>
      <th>Position held</th>
      <th>From</th>
      <th>To</th>
      <th>Actions</th>
  </thead>

  <tbody>
    <% @politically_exposed_people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.title %></td>
        <td><%= person.position_held %></td>
        <td><%= person.from %></td>
        <td><%= person.to %></td>
        <td>
          <%= link_to 'Edit', edit_politically_exposed_person_path(person) %> </br>
          <%= link_to 'Delete', politically_exposed_person_path(person),
                        method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>