<div class="col-md-12">
  <%= form_for(@politically_exposed_person) do |f| %>
    <%= render partial: 'shared/errors', locals: { model: @politically_exposed_person } %>

    <div class="row">
      <div class="col-md-4">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :position_held, "Position Held" %><br>
        <%= f.text_field :position_held, class: "form-control" %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-6">
        <%= f.label :from %><br>
        <%= f.date_select :from, class: "form-control", start_year: 1920 %>
      </div>
      <div class="col-md-6">
        <%= f.label :to %><br>
        <%= f.date_select :to, class: "form-control", start_year: 1920 %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <% if !@politically_exposed_person.new_record? %>
              <%= link_to 'Back', politically_exposed_people_path,
                          class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>