<div class="row">
  <%= form_for(@politically_exposed_person) do |f| %>
    <p class="col-md-12">
      <%= render partial: 'shared/errors', locals: { model: @politically_exposed_person } %>
    </p>

    <p class="row">
      <div class="col-md-4">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="col-md-4">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="col-md-4">
        <%= f.label :position_held %><br>
        <%= f.text_field :position_held %>
      </div>
    </p>
      
    <p class="row">
      <div class="col-md-6">
        <%= f.label :from %><br>
        <%= f.date_select :from %>
      </div>
      <div class="col-md-6">
        <%= f.label :to %><br>
        <%= f.date_select :to %>
      </div>
    </p>
    
    <p class="row">
      <div class="col-md-6">
        <% if !@politically_exposed_person.new_record? %>
              <%= link_to 'Back', corporate_applications_personnel_path,
                          class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </p>
  <% end %>
</div>