<h2>Politically Exposed Persons Determination</h2>
<p>
  <strong>Name:</strong>
  <%= @politically_exposed_person.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @politically_exposed_person.title %>
</p>

<p>
  <strong>Position held:</strong>
  <%= @politically_exposed_person.position_held %>
</p>

<p>
  <strong>From:</strong>
  <%= @politically_exposed_person.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @politically_exposed_person.to %>
</p>

<%= link_to 'Edit', edit_politically_exposed_person_path(@politically_exposed_person) %> |
<%= link_to 'Back', politically_exposed_people_path %>
