<p id="notice"><%= notice %></p>

<p>
  <strong>Full legal name:</strong>
  <%= @director.full_legal_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @director.occupation %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Add new', new_director_path %> |
<%= link_to 'Next', new_officer_path %>
