<p id="notice"><%= notice %></p>

<h1>Listing Authorized Representatives</h1>

<table>
  <thead>
    <tr>
      <th>Full legal name</th>
      <th>Occupation</th>
      <th>Title</th>
      <th>Dob</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip code</th>
      <th>Corporate personnel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorized_representatives.each do |authorized_representative| %>
      <tr>
        <td><%= authorized_representative.full_legal_name %></td>
        <td><%= authorized_representative.occupation %></td>
        <td><%= authorized_representative.title %></td>
        <td><%= authorized_representative.dob %></td>
        <td><%= authorized_representative.street_address %></td>
        <td><%= authorized_representative.city %></td>
        <td><%= authorized_representative.state %></td>
        <td><%= authorized_representative.country %></td>
        <td><%= authorized_representative.zip_code %></td>
        <td><%= authorized_representative.corporate_personnel %></td>
        <td><%= link_to 'Show', authorized_representative %></td>
        <td><%= link_to 'Edit', edit_authorized_representative_path(authorized_representative) %></td>
        <td><%= link_to 'Destroy', authorized_representative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorized representative', new_authorized_representative_path %>
