<div class="col-md-12">
  <%= form_for(@beneficial_owner) do |f| %>
    <%= render partial: 'shared/errors', locals: { model: @beneficial_owner } %>

    <div class="row">
      <div class="col-md-4">
        <%= f.label :full_legal_name, "Full Legal Name" %><br>
        <%= f.text_field :full_legal_name, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :citizenship, "Nationality / Citizenship" %><br>
        <%= f.text_field :citizenship, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :ownership_percentage, "Ownership Percentage" %><br>
        <%= f.text_field :ownership_percentage, class: "form-control" %>
      </div> 
    </div>

    <div class="row">   
      <div class="col-md-4">
        <%= f.label :street_address, "Street Address" %><br>
        <%= f.text_field :street_address, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :city %><br>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label :state %><br>
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :country %><br>
        <%= f.text_field :country, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :zip_code, "Zip Code" %><br>
        <%= f.text_field :zip_code, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :owned_by_public_trade, class: "checkbox inline" do %>
          <%= f.check_box :owned_by_pub_trade %>
          <span>Owned by a publicly traded entity</span>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= f.label :no_ind_own_25_or_more, class: "checkbox inline" do %>
          <%= f.check_box :no_ind_own_25_or_more %>
          <span>No individuals own 25% or more</span>
        <% end %>
      </div>
      <div class="col-md-7">
        <%= f.label :no_other_individual_own_25_percent_or_more, class: "checkbox inline" do %>
          <%= f.check_box :no_other_own_25_or_more %>
          <span>No other individuals own 5% or more</span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <% if !@beneficial_owner.new_record? %>
          <%= link_to 'Back', corporate_applications_personnel_path,
                      class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="col-md-6">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>