<p id="notice"><%= notice %></p>

<p>
  <strong>Full legal name:</strong>
  <%= @signatory.full_legal_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @signatory.title %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @signatory.dob %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @signatory.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @signatory.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @signatory.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @signatory.country %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @signatory.zip_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @signatory.user %>
</p>

<%= link_to 'Edit', edit_signatory_path(@signatory) %> |
<%= link_to 'Back', signatories_path %>
