<div class="row">
  <div class="small-4 large-left columns">
    <%= form_for(@fx_and_payment) do |f| %>
      <%= render partial: 'shared/errors', locals: { model: @fx_and_payment } %>
    
      <div class="field">
        <%= f.label :purpose_of_transactions %><br>
        <%= f.text_field :purpose %>
      </div>
      <div class="field">
        <%= f.label :currencies_needed %><br>
        <%= f.text_field :currencies %>
      </div>
      <div class="field">
        <%= f.label :approximate_per_trade_volume %><br>
        <%= f.number_field :approx_trade_vol %>
      </div>
      <div class="field">
        <%= f.label :approximate_number_of_monthly_transactions %><br>
        <%= f.number_field :approx_monthly_nb %>
      </div>
      <div class="field">
        <%= f.label :approximate_annual_volume %><br>
        <%= f.number_field :approx_annual_vol %>
      </div>
      <div class="field">
        <%= f.label :countries_which_funds_transfers_are_expected_to_go %><br>
        <%= f.text_field :countries_transf_to %>
      </div>
      <div class="field">
        <%= f.label :countries_which_funds_are_expected_to_come_from %><br>
        <%= f.text_field :countries_transf_from %>
      </div>
    
      <div class="actions">
        <% if !@fx_and_payment.new_record? %>
             <%= link_to 'Back', current_user.fx_and_payment, class: "button expand" %>
        <% end %>
        <%= f.submit class: "button expand" %>
      </div>
    <% end %>
  </div>
</div>