<%= form_for(@fx_and_payment) do |f| %>
  <%= render partial: 'shared/errors', locals: { model: @fx_and_payment } %>

  <div class="field">
    <%= f.label :purpose %><br>
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :currencies %><br>
    <%= f.text_field :currencies %>
  </div>
  <div class="field">
    <%= f.label :approx_trade_vol %><br>
    <%= f.number_field :approx_trade_vol %>
  </div>
  <div class="field">
    <%= f.label :approx_monthly_nb %><br>
    <%= f.number_field :approx_monthly_nb %>
  </div>
  <div class="field">
    <%= f.label :approx_annual_vol %><br>
    <%= f.number_field :approx_annual_vol %>
  </div>
  <div class="field">
    <%= f.label :countries_transf_to %><br>
    <%= f.text_field :countries_transf_to %>
  </div>
  <div class="field">
    <%= f.label :countries_transf_from %><br>
    <%= f.text_field :countries_transf_from %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
