<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= @fx_and_payment.purpose %>
</p>

<p>
  <strong>Currencies:</strong>
  <%= @fx_and_payment.currencies %>
</p>

<p>
  <strong>Approx trade vol:</strong>
  <%= @fx_and_payment.approx_trade_vol %>
</p>

<p>
  <strong>Approx monthly nb:</strong>
  <%= @fx_and_payment.approx_monthly_nb %>
</p>

<p>
  <strong>Approx annual vol:</strong>
  <%= @fx_and_payment.approx_annual_vol %>
</p>

<p>
  <strong>Countries trans to:</strong>
  <%= @fx_and_payment.countries_trans_to %>
</p>

<p>
  <strong>Countries trans from:</strong>
  <%= @fx_and_payment.countries_trans_from %>
</p>

<p>
  <strong>User:</strong>
  <%= @fx_and_payment.user %>
</p>

<%= link_to 'Edit', edit_fx_and_payment_path(@fx_and_payment) %> |
<%= link_to 'Back', fx_and_payments_path %>
